@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #231f20;
  --secondary: #efe6dd;
  --accent: #bb4430;
  --light: #efe6dd;
  --dark: #231f20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #efe6dd;
    --secondary: #231f20;
    --accent: #bb4430;
    --light: #efe6dd;
    --dark: #231f20;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Inter";
  src: url("/public/Inter.ttf");
}

section {
  padding: 2.5rem;
}

button {
  background-color: var(--accent);
  color: var(--light);
  padding: 1em;
  border-radius: 0.5rem;
}

.wrapper {
  max-width: 960px;
  margin-inline: auto;
  margin-block: 3rem;
}
